#main-view {

	$background: #212121;

	background: linear-gradient(to bottom right,rgba(33,33,33,.85),rgba(33,33,33,.85)), $background center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	#main-body {

		.image-container {
			display: flex;
			align-items: center;
    		justify-content: center;

			img { 
				border: 4px solid $background - 5;
				height: 125px;
				border-radius: 50%;
			}
		}

		.welcome-container {
			margin-top: 8vh;
			h1, h2 {
				text-align: center;
				line-height: 125%;
				padding: 0;
				margin: 0;
				color: #fff;
			}

			h1 {

				&:first-child {
					font-size: 5vw;
					font-weight: bold;
				}
			}


			h2 {
				font-size: 3.3vw ;
				font-weight: bold;
				
			}

			button.learn-more {
				transition: .1s linear;
				margin-top: 20px;
				border: 0;
				padding: .8em 2em;
				text-align: center;
				font-weight: bolder;
				font-size: 1.2em;
				border: 2px solid $primary;
				text-transform: uppercase;
				outline: 0;
				background: $primary - 10;
				color: #fff;

				&:hover {
					background: $primary + 10;
					color: #fff;
				}
			}
		}
	}


	@media (max-width: 768px) {
		.welcome-container {

			h1 {
				line-height: 135% !important;
				&:first-child {
					font-size: 10vw !important;
				}
			}


			h2 {
				line-height: 140% !important;
				font-size: 6.6vw !important;
			}

			button.learn-more {
				font-size: 1em !important;
			}
		}
	}

	/* Medium devices (desktops,  and up) */
	@media (max-width: 992px) {
		.welcome-container {

			h1 {
				line-height: 135% !important;
				&:first-child {
					font-size: 10vw !important;
				}
			}


			h2 {
				line-height: 140% !important;
				font-size: 6.6vw !important;
			}

			button.learn-more {
				font-size: 1em !important;
			}
		}
	}

	/* Large devices (large desktops, 1200px and up) */
	@media (max-width: 1200px) {

	}







}